<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../partials/fonts.ejs')%>
  <title>New Trade</title>
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/new.css" />
</head>

<body>
  <%- include('../partials/header.ejs')%>
  <%- include('../partials/flash.ejs') %>
  <main>
    <div class="page-heading">Start a Trade</div>
    <form class="new-trade-form" id="my_form" action="/trades" method="POST">
      <div class="form-line">
        <label for="category">Category</label>
        <input type="text" id="category" name="category" placeholder="Enter Category" required />
      </div>
      <div class="form-line">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Name" required />
      </div>
      <div class="form-line">
        <label for="image">Image Link</label>
        <input type="text" id="image" name="imageLink" placeholder="Paste Image link" />
      </div>
      <div class="form-line">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" placeholder="Enter Price" required />
      </div>
      <div class="form-line rad">
        <label for="status">Status</label>
        <!-- <input type="text" id="status" name="status" placeholder="Enter Status" required/> -->
        <div class="radio">
          <input type="radio" name="status" id="available" value="available">
          <label for="available"> Available</label>
          <input type="radio" name="status" id="sold" value="sold">
          <label for="sold"> Sold</label>
        </div>
      </div>
      <div class="form-line">
        <label for="description">Product description</label>
        <textarea id="desc" cols="30" rows="5" name="description" placeholder="Give details about your product" minlength="10" required></textarea>
      </div>
      <div class="form-line">
        <input class="create-button" type="submit">
        <!-- <a class="create-button" href="javascript:{}" onclick="document.getElementById('my_form').submit();">Create Trade</a> -->
      </div>
    </form>
  </main>
  <%- include('../partials/footer.ejs')%>

</body>

</html>