<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/fonts.ejs') %>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/about.css">
  <title>Document</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <main>
    <div class="">This is <div class="title">Artemis Electronics,</div>
    </div>
    <div class="small-text"> A trading website created as a part of coursework for Network based Application developement. <br>
      Created By <span style='font-family: "Roboto serif", sans-serif;'> Krishna Vamsee Vangipurapu </span> <br><br></div>
    <small>Click this link to go to home page</small>

    <a href="/" style="margin-top: 2rem;">Home</a>
  </main>
  <%- include('./partials/footer.ejs') %>

</body>

</html>