.profile {
  font-family: "Roboto serif", sans-serif;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-heading {
  font-family: "Roboto serif", sans-serif;
  text-align: center;
  width: 80%;
  margin: 2rem auto 0 auto;
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 100;
}

.profile__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30%;
  padding-right: auto;
}

.profile__details-img img {
  width: 100%;
  height: 20rem;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 50%;
}

.profile__details-name {
  font-size: 1.8rem;
  font-weight: 100;
  margin-top: 1.5rem;
}

.profile__details-email {
  font-size: 1rem;
  font-weight: 100;
  margin-top: 1rem;
}

.profile__details-created {
  font-size: 0.8rem;
  color: grey;
  font-weight: 100;
  margin-top: 1rem;
}

.profile__trades {
  width: 70%;
  border-left: 1px solid darkgrey;
}

.profile__trades-empty {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(54, 54, 54, 0.782)),
      to(rgba(0, 0, 0, 0.666))
    ),
    url("https://source.unsplash.com/FO7JIlwjOtU");
  background-image: linear-gradient(
      rgba(54, 54, 54, 0.782),
      rgba(0, 0, 0, 0.666)
    ),
    url("https://source.unsplash.com/FO7JIlwjOtU");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.profile__trades-empty h2 {
  font-size: 3rem;
  font-weight: 100;
}

.profile__trades-empty p {
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 1.5rem;
}

.profile__trades-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
  padding: 1rem 3rem;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
}

.profile__trades-list-heading {
  grid-column: span 3;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profile__trades-item {
  border: 1px solid #d2d2d2;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  -ms-grid-columns: 30% 70%;
  grid-template-columns: 30% 70%;
}

.profile__trades-item-img {
  grid-row: span 3;
}

.profile__trades-item-img img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.profile__trades-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-weight: 100;
}

.profile__trades-item-price {
  font-size: 1rem;
  font-weight: 100;
  color: grey;
}

.profile__trades-item-date {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  color: grey;
  font-weight: 100;
}
/*# sourceMappingURL=profile.css.map */
