.no-items {
  width: 60%;

  background-image: linear-gradient(
      rgba(70, 70, 70, 0.801),
      rgba(10, 10, 10, 0.897)
    ),
    url("https://source.unsplash.com/2-eCuma3qO0");
  background-size: cover;
  background-position: bottom;
  height: 30rem;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Lato";
  margin: 3rem auto 0 auto;
  border-radius: 10px;
}

.cards {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem 6rem 3rem 6rem;
}

.card {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 3rem;
  color: white;
  width: 30%;
  display: flex;
  flex-direction: column;
  font-family: "Dongle", sans-serif;
  background-color: #fff;
  padding-bottom: 2rem;
  font-size: 3.5rem;
  padding: 2.5rem;
  background-image: linear-gradient(darkgrey, black);
  background-size: cover;
  background-position: center;
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
}

.card-content {
  font-size: 1.7rem;
}

.card-content ul {
  list-style: none;
}

.card-content li {
  border-radius: 10px;
  padding: 1rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  background-color: rgba(59, 59, 59, 0.349);
  line-height: 2rem;
  width: auto;
  display: inline-block;
}

.card-content li a {
  color: white;
  text-decoration: none;
}
